/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./assets/bg.jpg');
    /* background-color: #282828; */
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}